.List {
    margin-bottom: 100px;
}

.List h2 {
    font-size: 20px;
}

.List .outerList {
    border: 2px solid #000;
    padding: 20px;
}

.List .table tr:not(:last-of-type) {
    border: 2px solid #000;
}

.List .table td {
    border: 0;
}

.List .table .grandTotalTr td {
    padding-right: 0;
    padding-bottom: 0;
}

.List .table .grandTotalTr td .grandTotal {
    padding: 20px;
    border: 2px solid #000;
    display: inline-block;
    font-size: 19px;
}

.List .table thead tr th {
    border: 0;
}

@media screen and (max-width: 575px) {
    .List .table td {
        border: 0;
        font-size: 12px;
        padding: 10px 6px;
    }
    .List .table thead tr th {
        border: 0;
        padding: 5px;
        font-size: 12px;
        padding-left: 0;
    }
}